$bp-area-color: #aaa
$element-area-color: #7583ee
$element-block-color: #45464f

.ui.grid
    height: 80%

#bp-area
    background-color: $bp-area-color

#element-area
    background-color: $element-area-color


.arduino-element-block
    background-color: $element-block-color
    height: 100px
    width: 25%
    color: white
    text-align: center
    border: 5px
    border-color: white
    margin: 12px
    display: inline-block

.not-dropped
    display: none

.was-dropped
    background-color: #4bb777 !important
    position: relative
    display: inline-grid
    margin: 12
    height: 70%
    width: 30%